/* Enlever les points des balises <li> */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Centrer les éléments de la balise <nav> */
nav {
    text-align: center;
}

nav ul {
    display: inline-block;
    vertical-align: middle;
}

nav li {
    display: inline-block;
    margin-right: 100px;
}

nav li:last-child {
    margin-right: 0;
}

nav li a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}
  
.welcome h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-right: 20px;
}
  
.welcome img {
    width: 60px;
    height: 60px;
}
  

/* Style pour la barre de recherche */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
  }
  
.search-container form {
    display: flex;
    align-items: center;
  }
  
.search-container input[type="text"] {
    width: 500px;
    font-size: 1em;
    padding: 15px;
    border: none;
    border-radius: 3px 0 0 3px;
  }
  
.search-container button[type="submit"] {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
  }

/* Style pour le logo */
#searchLogo {
    border: none; /* Supprime la bordure */
    background-color: transparent; /* Supprime la couleur de fond */
    background-image: url(assets/search_logo.png); /* Ajoute l'image comme arrière-plan */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    background-size: cover; /* Ajuste la taille de l'image pour remplir complètement le bouton */
    width: 45px; /* Ajuste la largeur du bouton */
    height: 45px; /* Ajuste la hauteur du bouton */
    padding: 0; /* Supprime le remplissage interne */
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}